a.green,
button.green,
input.green {
  display: inline-block;
  vertical-align: top;
  padding: 6px 13px 7px;
  background: #669933;
  border: 1px solid black;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: bold 13px "Open Sans";
  line-height: 18px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
a.green:hover, a.green:active,
button.green:hover,
button.green:active,
input.green:hover,
input.green:active {
  outline: none;
  background: #6EB422;
}
a.green:active,
button.green:active,
input.green:active {
  padding: 7px 13px 6px;
  background: #6EB422;
}

a.orange,
button.orange,
input.orange {
  padding: 6px 13px 7px;
  background: #FF6600;
  border: 1px solid black;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: bold 13px "Open Sans";
  color: white;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
a.orange:hover, a.orange:active,
button.orange:hover,
button.orange:active,
input.orange:hover,
input.orange:active {
  outline: none;
  background: #FF7C09;
}
a.orange:active,
button.orange:active,
input.orange:active {
  padding: 7px 13px 6px;
  background: #FF7C09;
}
a.orange.small,
button.orange.small,
input.orange.small {
  width: 80px;
  padding: 3px 0 4px;
  text-align: center;
}
a.orange.small:active,
button.orange.small:active,
input.orange.small:active {
  padding: 4px 0 3px;
}

a.white,
button.white,
input.white {
  padding: 6px 13px 7px;
  background: #EEEEEE;
  border: 1px solid #CCCCCC;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: bold 13px "Open Sans";
  color: #666666;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
a.white:hover, a.white:active,
button.white:hover,
button.white:active,
input.white:hover,
input.white:active {
  outline: none;
  background: white;
  color: #333;
}
a.white:active,
button.white:active,
input.white:active {
  padding: 7px 13px 6px;
  background: white;
  color: #333;
}
a.white.small,
button.white.small,
input.white.small {
  width: 80px;
  padding: 3px 0 4px;
  text-align: center;
}
a.white.small:active,
button.white.small:active,
input.white.small:active {
  padding: 4px 0 3px;
}

a.black,
button.black,
input.black {
  padding: 4px 13px 5px;
  background: #333333;
  border: 1px solid #CCCCCC;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: bold 13px "Open Sans";
  color: white;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
a.black:hover, a.black:active,
button.black:hover,
button.black:active,
input.black:hover,
input.black:active {
  outline: none;
  background: black;
  color: white;
}
a.black:active,
button.black:active,
input.black:active {
  padding: 5px 13px 4px;
  background: black;
  color: white;
}
