#no-select
  user-select: none

.no-transition
  transition: none !important

@import './normalize'
@import './mixin'
@import '../node_modules/nib/lib/nib'

@import './layout'
@import './main'
@import './buttons'
@import './interfaces'
@import './transcribing'
@import './widgets'
@import './titillium'

$tb-background = #f1f1f1
$tb-text-color = #080612
$tb-border-color-1 = #ECECEC
$tb-border-color-2 = #ECECEC
$tb-button-bg = #F1F1EF
$tb-box-shadow = #000
$tb-box-shadow-inset = #CECEC4
$tb-button-text-shadow = #003a54
$tb-bottom-border = #F1F1EF
$tb-input-bg = white 

@import '../node_modules/zooniverse/css/top_bar'
@import '../node_modules/zooniverse/css/login_forms'

.zooniverseTopBar
  transition: top margin-top 1s ease-in-out
  margin-bottom: 150px
  #zooniverse-top-bar-button
    left: 40px

#zooniverse-top-bar-container p
  font-family: "Open Sans"
  line-height: normal

#zooniverse-top-bar-container #zooniverse-top-bar-projects
  border-left: 1px solid

#zooniverse-top-bar-container #zooniverse-top-bar-login .welcome .buttons
  top: 0

