#no-select
  user-select: none

.no-transition
  transition: none !important

@import './normalize'
@import './mixin'
@import '../node_modules/nib/lib/nib'
@import "node_modules/zooniverse/src/css/zooniverse"

@import './layout'
@import './main'
@import './buttons'
@import './interfaces'
@import './transcribing'
@import './widgets'