#interface
  background: #666 url(images/transcribers/bg-transcriber.png)
  height: 100%
  left: 0
  overflow: none
  position: fixed
  top: 0
  width: 100%
  z-index: 1000

@import "./interfaces/birds"