body
  background: #333333 url("images/bg.jpg") repeat-x
  border-top: 5px solid #000

  #app
    margin: 0 auto
    width: 960px;
    padding: 50px 0 0 0

    > header
      padding: 27px 0
      > *:first-child
        margin-left: 0

      > *:last-child
        margin-right: 0

    > footer
      background: #191919
      box-sizing: border-box
      color: #666
      padding: 37px 19px

      a
        color: #777
        font-family: helvetica

        &:hover
          color: #fff

      hr
        clearfix()
        background: #333
        border: 0
        height: 1px
        margin: 15px 0