
.wrapper
  > header
    > *:first-child
      margin-left: 0

    > *:last-child
      margin-right: 0

  > footer
    background: #191919
    box-sizing: border-box
    color: #666
    padding: 37px 19px

    a
      color: #777
      font-family: helvetica

      &:hover
        color: #fff

    hr
      border-top: 1px solid #343434
      margin: 15px 0
