div.zooniverse-top-bar
  #zooniverse-top-bar-button
    a.top-bar-button
      img
        margin-left: 12px
        margin-top: 14px
  div#zooniverse-top-bar-container
    div#zooniverse-top-bar-info
      width: 368px 


.dialog-underlay { display: none; }

.stack 
  > div 
    display: none
  > div.active 
    display: block

.stack .NotificationController
  display:block

.ArchivesIndexController
  margin-bottom: 40px

*[lang='de'], *[lang='pl']
  display : none

/* Better than clearfix */
aside:after, div:after, form:after, header:after, nav:after, ul:after, li:after, article:after, caption:after, ol:after, footer:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.col1 {
  display: inline;
  float: left;
  position: relative;
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
}

.col2 {
  display: inline;
  float: left;
  position: relative;
  width: 560px;
  margin-left: 20px;
  margin-right: 20px;
}

.col3 {
  display: inline;
  float: left;
  position: relative;
  width: 880px;
  margin-left: 20px;
  margin-right: 20px;
}

.alpha {
  margin-left: 0!important;
}

.omega {
  margin-right: 0!important;
}

/*Main styles*/
html, button, input, select, textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #333;
}

body {
  background: #333333 url("images/bg.jpg") repeat-x;
  overflow-x: hidden;
}

p, li {
  font-family: Helvetica;
  line-height: 19px;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  padding: 27px 0;
  margin-top: -100px
}

h1 {
  position: relative;
}
h1 img {
  position: absolute;
  right: 0;
  top: 0;
}
h1.title {
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  font-weight: normal;
  margin-top: 24px;

  // Don't like this.
  a {
    color: #fff;
  }
}

h1 span.green {
  background: url(images/icons.png) no-repeat 90px 21px;
  color: #669933;
  font-weight: 600;
  padding-right: 15px;
}

h3 span.black {
  // background: url(images/icons.png) no-repeat 96px -396px;
  font-weight: 600;
  padding-right: 15px;
  color: #666666;
}

.detail h2 {
  color: #FFF;
  font-size: 25px;
  margin-top: 80px;
  text-shadow: 1px 1px 6px #000;
  font-weight: 100;
}
.detail h2 span {
  color: #FFF;
  font-size: 91px;
  line-height: 80px;
  font-weight: 800;
  text-shadow: 1px 1px 6px #000;
}

.home hgroup {
  margin: 60px 0 82px 0;
}
.home h3 {
  color: #FFF;
  font-size: 25px;
  line-height: 30px;
  margin-top: 40px;
  text-shadow: 1px 1px 6px #000;
  font-weight: 600;
  margin: 0 0 5px 0;
}
.home h2 {
  color: #FFF;
  font-size: 81px;
  line-height: 73px;
  text-shadow: 1px 1px 6px #000;
  font-weight: 800;
  letter-spacing: -2px;
  margin: 0;
}

h2.title {
  font-size: 39px;
  font-weight: 600;
}
h2.title span {
  font-size: 15px;
  font-family: helvetica;
  font-weight: normal;
  color: #7F7F7F;
}
h2.title.user {
  margin-top: -50px;
  margin-left: 70px;
  margin-bottom: 20px;
}
h2 .logo {
  float: right;
  margin-top: -60px;
}

h3.title {
  color: #333;
  font-size: 27px;
  font-weight: 600;
}

h3.title.black {
  color: #666;
}


h3.badge {
  color: #333;
  font-size: 19px;
  font-weight: 600;
}

span.numbers {
  color: #FFF;
  font-size: 41px;
  font-weight: 600;
}
span.subtitle {
  color: #666;
  display: block;
  font-family: helvetica;
  font-size: 15px;
  font-weight: normal;
  padding-top: 10px;
}

h2 span.subtitle {
  font-size: 13px;
}
h2 span.subtitle a {
  font-size: 13px;
}
h2.title span.subtitle {
  font-family: helvetica;
  font-size: 15px;
}
h2.title span.subtitle a {
  font-family: helvetica;
  font-size: 15px;
}
h2 span.subtitle {
  padding-top: 12px;
}

h3 span.subtitle {
  font-size: 13px;
}

figcaption {
  color: #999;
  font-family: helvetica;
  font-size: 13px;
}

.legal {
  float: left;
  font-family: helvetica;
  font-size: 13px;
  padding: 10px 0px;
  color: #666;
}

p.badge {
  color: #666;
}

span.badge {
  color: #999;
  font-family: helvetica;
  font-size: 13px;
  font-style: italic;
  padding-top: 10px;
}
span.badge.noitalic {
  font-style: normal;
}

.line-r {
  border-right: 1px solid #CCC;
  margin-right: 5px;
  padding-right: 10px;
}

span.user {
  font-size: 13px;
  margin-top: 48px;
  margin-bottom: 31px;
}
span.user a {
  font-size: 13px;
}

/* Links */
.link-navigation a {
  color: #FFF;
  font-size: 11px;
  font-weight: 600;
  margin-left: 30px;
  padding: 5px;
  border-radius: 2px;
  text-transform: uppercase;
}
.link-navigation a.green {
  color: #669933;
}
.link-navigation.bg a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

a.name {
  color: #0099CC;
  font-size: 17px;
  font-weight: 600;
}
a.name:hover {
  color: #006687;
}
a.object {
  color: #0099CC;
  font-family: helvetica;
  font-size: 15px;
  text-decoration: underline;
}
a.object.noline {
  text-decoration: none;
}
a.object:hover {
  color: #006688;
}
a.legal {
  text-decoration: underline;
  color: #666;
}
a.legal:hover {
  color: #FFF;
}
a.badge {
  color: #669933;
  font-size: 13px;
  font-weight: 600;
  font-family: helvetica;
}

.link-navigation {
  margin-top: 25px;
}


/* Boxes */
.page-header-small
  @extends #page-header-small

.faq-header
  @extends #page-header
  background: #fff url(images/aboutPageBanner.png) no-repeat bottom left

.faq-content, .about-content
  @extends #white-box
  background: #fff url(images/bg-divided.png) repeat-y


.box-general {
  background: #FFF;
  padding: 12px 19px;
  border-bottom: 1px solid #000;
}
.box-general.highlighted {
  background: #F2F7F7;
}
.box-general.divided {
  background: white url(images/bg-divided.png) repeat-y;
  padding: 20px 17px;
}
.box-general.divided-bg {
  background: #f5f8f8 url(images/bg-divided.png) repeat-y;
  padding-bottom: 50px;
}
.box-general.divided-blue {
  background: white url(images/bg-divided-blue.png) repeat-y;
  padding-bottom: 40px;
}
.box-general.divided-blue .list-contributors li {
  margin-bottom: 18px;
}
.box-general.museum {
  background: white url(images/bg-museum.jpg) no-repeat bottom left;
  height: 366px;
}
.box-general.detail {
  background: white url(images/bg-detail.jpg) no-repeat bottom left;
  height: 460px;
}
.box-general.home {
  background: white url(images/bg-home.jpg) no-repeat top left;
  height: 500px;
  width: 950px;
  margin-bottom: 41px;
  border: 5px solid rgba(0, 0, 0, 0.83);
  padding: 0;
  text-align: center;
}

.box-general.collection {
  background: white url(images/bg-collection.jpg) no-repeat bottom left;
  height: 409px;
  position: relative;
}
.box-general.contributors {
  background: transparent url(images/bg-contributors.png) no-repeat top left;
  position: relative;
  top: -23px;
  z-index: 100;
  margin-right: -10px;
}
.box-general.divided-green {
  background: #fff;
  //min-height: 400px;
  padding-top: 21px;
  position: relative;
  z-index: 100;
}
.box-general.divided-green .col1 {
  position: absolute;
  width: 330px;
  top: -10px;
  padding: 33px 0 60px 0;
  right: -30px;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
  background: url(images/bg-green.png) no-repeat bottom;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
}
.box-general.divided figure {
  margin-top: 40px;
}
.box-general.divided h3 {
  margin-bottom: 0px;
  margin-top: 40px;
}
.box-general.divided h3.first {
  margin-top: 20px;
}
.box-general.laptop {
  background: #f2f7f7 url(images/bg-laptop.png) no-repeat right 45px;
  padding: 12px 19px;
}
.box-general.laptop.white {
  background: white url(images/bg-laptop.png) no-repeat right 45px;
}
.box-general.laptop.laptop-home {
  background-position: right 90px;
}
.box-general.laptop.laptop-home .status-list.inline li.mar-button {
  margin-top: 45px;
}
.box-general.laptop.laptop-home li.logos {
  margin-right: -4px;
}
.box-general.laptop .status-list.inline li.mar-button {
  margin-top: 12px;
}

.species-selector {
  margin: auto;
  overflow: hidden;
  width: 125px;
}
.species-selector a {
  display: block;
  float: left;
  margin: 7px;
  height: 111px;
}

.species-selector a img {
  padding: 0;
  margin: 0;
}

.species-selector a:hover {
  box-shadow: 0 0 7px 5px rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

#content .transcribing-launcher {

  display: inline-block;
  text-align: center;
  position:relative;
  border: 1px solid #395312

  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  background: #669933 url(../images/button-green-bg.png) repeat-x left 40px;
  border-radius: 3px;

  font-size: 21px;
  font-weight: 300;

  box-shadow:         0px 0px 5px rgba(#000, .5);

  padding: 23px 0;

  margin: auto;
  width: 280px;

  &:hover   { background: #669933 url(../images/button-green-bg.png) repeat-x left -20px; }
  &:active  { background: #669933 url(../images/button-green-bg.png) repeat-x left bottom; }

    i { 
    display: block; 
    right: 13px;
    position:absolute;
    top: 50%;
    margin-top: -5px;
    background: url(../images/right-triangle.png) no-repeat;
    width: 8px;
    height: 10px;
    }

}

footer.relative {
  position: relative;
}

hr.absolute {
  position: absolute;
  left: -40px;
  width: 638px;
}

.box-general.relative {
  top: -30px;
  position: relative;
}
.box-general.green {
  background: white url(images/bg-green.jpg) repeat-y right top;
}
.box-general .marker {
  background: url(images/marker.png) no-repeat -16px 20px;
}
.box-general .marker .box-right {
  margin-top: -5px;
  margin-bottom: 20px;
}
.box-general div.graphics {
  color: #666;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
}
.box-general .box-right {
  padding-left: 40px;
}
.box-general.green .box-right h3, .box-general .box-right.green h3 {
  color: rgba(0, 0, 0, 0.45);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.1);
}
.box-general.green .box-right a {
  color: #FFF;
  border-bottom: 1px solid #FFF;
  font-family: helvetica;
}
.box-general.green .box-right a:hover {
  color: #333;
  border-color: #333;
  color: rgba(0, 0, 0, 0.45);
  border-color: rgba(0, 0, 0, 0.45);
}


.status-list, .logos, .list-graphics, .links-left ul, .list-contributors {
  @extends #semantic-list
}

.status-list li {
  color: #FFF;
  margin-bottom: 20px;
  font-weight: 100;
}
.status-list li.logos span.text {
  margin-bottom: 13px;
}
.status-list li.progress span.text, .status-list li.logos .logos {
  margin-bottom: 5px;
}
.status-list li:last-child {
  margin-bottom: 30px;
}
.status-list span.text {
  color: rgba(0, 0, 0, 0.3);
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 700;
}

span.text {
  color: rgba(0, 0, 0, 0.3);
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 600;
}

.status-list.inline {
  margin-top: 0px;
  padding-bottom: 40px;
}
.status-list.inline li {
  color: #333;
  float: left;
  font-family: helvetica;
  margin-right: 40px;
}
.status-list.inline li span {
  font-family: 'Open Sans', sans-serif;
}
.status-list.inline li.mar-button {
  margin-top: 15px;
}

.box-green {
  background: #669933;
  background: -moz-linear-gradient(top, #669933 0%, #85c645 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #669933), color-stop(100%, #85c645));
  background: -webkit-linear-gradient(top, #669933 0%, #85c645 100%);
  background: -o-linear-gradient(top, #669933 0%, #85c645 100%);
  background: -ms-linear-gradient(top, #669933 0%, #85c645 100%);
  background: linear-gradient(top, #669933 0%, #85c645 100%);
  
  padding: 40px;
}

.box-center {
  text-align: center;
  padding-top: 30px;
}
.box-center.results {
  padding: 30px 0 20px 0;
}

hr {
  border: 0 none;
  border-top: 1px solid #CCC;
  margin: 0;
  padding: 0;
  width: 100%;
}

.counters {
  width: 960px;
  margin-bottom: 45px;
}
.counters .box-black-numbers {
  float: left;
  padding: 35px 0 25px 0;
  width: 239px;
  background: #000;
  border-right: 1px solid rgba(42, 42, 42, 0.7);
  text-align: center;
}
.counters .box-black-numbers:last-child {
  border-right: none;
}
.counters .box-black-numbers span {
  display: block;
}
.counters .box-black-numbers span.numbers {
  margin-bottom: 3px;
}

ul.logos li {
  float: left;
  margin-right: 38px;
}

.box-logos {
  margin-top: 50px;
  padding-top: 40px;
  border-top: 1px solid #CCC;
  border-top: 1px solid rgba(204, 204, 204, 0.4);

  ul {
    @extends #semantic-list
  }
}
.box-logos span.text {
  font-weight: bold;
  padding-bottom: 20px;
}
.box-logos p {
  margin-top: 20px;
}

.translucent-box {
  background-color: #666;
  background-color: rgba(0, 0, 0, 0.71);
  float: left;
}
.translucent-box.me > div {
  padding: 20px;
  width: 900px;
}
.translucent-box.me > div img {
  border-radius: 3px;
  margin-right: 10px;
}
.translucent-box.me > div .title {
  margin: 8px 0 2px 0;
  display: block;
}
.translucent-box.me > div .subtitle {
  font-weight: 100;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}
.translucent-box img {
  float: left;
}
.translucent-box span {
  color: #FFF;
}
.translucent-box span.title {
  font-family: open sans;
  font-size: 21px;
  font-weight: 600;
}
.translucent-box span.subtitle {
  font-family: helvetica;
  font-size: 17px;
  font-weight: normal;
  padding-top: 0px;
}
.translucent-box .percentage {
  margin-top: 10px;
}

.collection .translucent-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.detail .translucent-box {
  margin-left: 20px;
}
.detail .translucent-box > div {
  padding: 20px;
}
.detail .translucent-box > div > div {
  padding-left: 200px;
}
.detail .translucent-box span.title {
  font-size: 29px;
  line-height: 9px;
}

.box-badge {
  padding: 76px 0px 46px 0;
  text-align: center;
}

.box-badge h3.title {
  margin-bottom: 10px;
}
.box-badge span {
  font-family: helvetica;
}

.box-badge-footer {
  padding: 30px;
  text-align: center;
}
.box-badge-footer h3.title {
  margin-bottom: 10px;
}
.box-badge-footer span {
  font-family: helvetica;
}

.progress {
  font-size: 15px;
  width: 100%;
}
.progress.hover {
  padding-bottom: 10px;
}
.progress.blue {
  color: #0099CC;
}
.progress span.subtitle {
  color: #7F7F7F;
}
.progress img {
  margin-right: 10px;
  margin-top: 10px;
}

.box-user {
  margin-top: 20px;
}

/* List */
.list-links {
  list-style: none;
  margin-top: 20px;
  padding-left: 30px;
}
.list-links li {
  border-bottom: 1px solid #CCC;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.list-links li:last-child {
  border-bottom: 0px none;
}
.list-links li a {
  color: #0099CC;
  font-size: 17px;
  font-weight: 600;
}
.list-links li a:hover {
  color: #006688;
}
.list-links li a.selected {
  color: #333;
}

.links-left {
  margin-left: 40px;
}
.links-left span:first-child {
  margin-top: 12px;
}
.links-left span {
  margin-top: 20px;
}

.list-contributors img {
  float: left;
  margin-right: 10px;
  border-radius: 3px;
}
.list-contributors li {
  padding-top: 0;
  margin-bottom: 15px;
}

.list-forum li div {
  padding-top: 10px;
}

.list-contributors span, .list-forum span {
  color: rgba(51, 51, 51, 0.5);
  font-family: helvetica;
  font-size: 13px;
}

.list-contributors.user {
  margin-top: 15px;
}
.list-contributors.user li {
  margin-top: -4px;
}
.list-contributors.advanced {
  margin-top: 20px;
}
.list-contributors.advanced img {
  border-radius: 3px;
}
.list-contributors.advanced li {
  border-bottom: 1px solid #E6E8E8;
  padding: 20px 0 20px 0;
  width: 100%;
}
.list-contributors.advanced li span.numbers {
  font-family: 'Open Sans';
}
.list-contributors.advanced li:last-child {
  border-bottom: 0px none;
}
.list-contributors.advanced div.right {
  text-align: right;
}
.list-contributors.advanced div.right span:first-child {
  color: #666;
  font-size: 19px;
  font-weight: 600;
}
.list-contributors.advanced div.right span:last-child {
  color: #CCCCCC;
}

.bullet {
  background: url(images/icons.png) no-repeat 0px -444px;
  margin-left: -10px;
  padding-left: 10px;
}

.list-graphics li {
  float: left;
  position: relative;
  width: 150px;
  height: 135px;
  margin-right: 50px;
}
.list-graphics li:last-child {
  margin-right: 0;
}
.list-graphics li .count {
  text-align: center;
  bottom: 50px;
  color: #333;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  position: absolute;
  z-index: 100;
  width: 100%;
}
.list-graphics li .count strong {
  font-family: 'Open Sans';
  font-weight: 600;
  display: block;
  clear: both;
  margin-bottom: 20px;
}
.list-graphics li .count span {
  display: block;
  width: 100%;
  color: #666;
  font-size: 13px;
  font-weight: normal;
  position: absolute;
}
.list-graphics li .chart {
  position: absolute;
  z-index: 0;
  margin: auto;
}

li.img-graphic {
  background: url(images/bg-graph.png) no-repeat 0px 20px;
  margin-right: 20px;
  padding: 70px 0px 15px 5px;
}
li.img-graphic1 {
  background: url(images/bg-graph-1.png) no-repeat 0px 61px;
  margin-right: 20px;
  padding: 70px 0px 15px 5px;
}
li.img-graphic2 {
  background: url(images/bg-graph-2.png) no-repeat 0px 49px;
  padding: 70px 20px 20px 40px;
}

.time-box {
  position: relative;
}

.time-life-graf {
  position: absolute;
  top: 0;
  left: 0;
  width: 66px;
  height: 100%;
  margin-left: 247px;
}
.time-life-graf li {
  height: 91px;
  background: transparent url(images/timeline.png) repeat-y 41% 0;
}
.time-life-graf li:first-child {
  padding-top: 0;
  margin-top: 15px;
}
.time-life-graf li:last-child {
  height: 40px;
}
.time-life-graf li:last-child div {
  top: 4px;
}
.time-life-graf li:first-child img {
  position: relative;
  top: -5px;
}
.time-life-graf li.previous {
  height: 40px;
}
.time-life-graf li.previous div {
  top: 4px;
}
.time-life-graf li div {
  height: 67px;
  width: 67px;
  left: -5px;
  text-align: center;
  position: relative;
  top: -5px;
}

.time-life-graf li div img{
  width: 56px
}

.time-life-graf li div.small {
  top: 6px;
}
.time-life-graf li.hidden {
  display: none;
}

.time-life li {
  height: 90px;
  border-bottom: 1px solid #EBEBEB;
}
.time-life li div {
  top: 15px;
  position: relative;
  width: 225px;
  float: left;
  text-align: right;
}
.time-life li:nth-child(2n+1) {
  padding-left: 50%;
}
.time-life li:nth-child(2n+1) div {
  left: 45px;
  width: 240px;
  position: relative;
  text-align: left;
}
.time-life li:first-child div {
  top: 0;
}
.time-life li:last-child {
  border-bottom: 0;
}
.time-life li.previous {
  border-bottom: none;
  padding-left: 50%;
}
.time-life li.previous div {
  left: 50px;
  position: relative;
  text-align: left;
  top: 25px;
}
.time-life li.hidden {
  display: none;
}
.time-life span.text {
  font-size: 11px;
  font-weight: 600;
  display: block;
  color: rgba(51, 51, 51, 0.5);
}
.time-life span.value {
  display: block;
  font-family: helvetica;
}

.list-forum li {
  border-bottom: 1px solid #E6E8E8;
  padding-bottom: 13px;
  padding-top: 10px;
  width: 100%;
}
.list-forum li:first-child {
  padding-top: 0px;
}
.list-forum li:last-child {
  border-bottom: 0px none;
}

span.ico-comments {
  background: url(images/icons.png) no-repeat 2px -475px;
  margin-left: -4px;
  padding-left: 25px;
}

.badges-list {
  margin-top: 20px;
}
.badges-list li {
  float: left;
  padding-right: 9px;
  padding-bottom: 7px;
}
.badges-list img {
  width: 71px;
}

.user-list.inline li {
  float: left;
  margin-bottom: 30px;
  margin-right: 29px;
}

.archive-list
  @extends #semantic-list

  li
    background: rgba(0, 0, 0, 0.2)
    float: left
    font-family: 'Open Sans', sans-serif
    height: 320px
    overflow: hidden
    position: relative
    width: 320px

.archive-list h3 span.subtitle {
  font-size: 15px;
}

.archive-list .emptyArchive{
  border-box()
  border-right: 1px solid #333333
  border-bottom: 1px solid #333333

}

.archive-list .emptyArchive h3{
  position: absolute 
  top: 120px

  color: #333333
  background: none 
  text-align: center
}
.archive-list li.empty {
  height: 319px;
  width: 319px;
  border-right: 1px solid #3F3F3F;
  border-bottom: 1px solid #3F3F3F;
}
.archive-list li.empty::nth-child(3n+1) {
  border-left: 1px solid #3F3F3F;
}
.archive-list .translucent-box {
  color: #FFF;
  font-size: 13px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 160px;
  width: 100%;
  z-index: 6;
}
.archive-list li.selected .translucent-box {
  top: 0;
}
.archive-list .translucent-box p {
  padding: 0 40px;
  line-height: 16px;
  font-weight: 100;
  line-height: 1.5em;
}
.archive-list .translucent-box a {
  color: #83C046;
  font-size: 13px;
  display: block;
  margin-top: 10px;
}
.archive-list .translucent-box a:hover {
  color: #FFF;
}
.archive-list .translucent-box a:link {
  color: #83C046;
  font-size: 13px;
}
.archive-list h3 {
  background-color: #000;
  position: absolute;
  bottom: 0;
  width: 245px;
  margin: 0;
  padding: 22px 40px;
  z-index: 10;
  color: #83C046;
}

.archive-list h3 span a{
  color:#666
}
.archive-list h3 a {
  color: #83C046;
}
.archive-list h3 a:hover {
  color: #FFF;
}

.archive-list li.selected h3 a {
  color: #FFF;
  white-space: nowrap;
}

/* Buttons */
a.button {
  background: #669933;
  border-radius: 3px;
  box-shadow: 0px 1px #000;
  color: #FFF;
  font-size: 13px;
  font-weight: 600;
  padding: 15px 20px;
  text-shadow: 0px 1px #416122;
  white-space: nowrap;
}
a.button:hover {
  background: #52792a;
  background: -moz-linear-gradient(top, #52792a 0%, #669933 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #52792a), color-stop(100%, #669933));
  background: -webkit-linear-gradient(top, #52792a 0%, #669933 100%);
  background: -o-linear-gradient(top, #52792a 0%, #669933 100%);
  background: -ms-linear-gradient(top, #52792a 0%, #669933 100%);
  background: linear-gradient(top, #52792a 0%, #669933 100%);
}
a.button:active {
  background: #669933;
  background: -moz-linear-gradient(top, #669933 0%, #52792a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #669933), color-stop(100%, #52792a));
  background: -webkit-linear-gradient(top, #669933 0%, #52792a 100%);
  background: -o-linear-gradient(top, #669933 0%, #52792a 100%);
  background: -ms-linear-gradient(top, #669933 0%, #52792a 100%);
  background: linear-gradient(top, #669933 0%, #52792a 100%);
}
a.button.nocolor {
  background: #FFF;
  color: #557F2C;
  padding: 14px 50px;
  text-shadow: 0px 0px;
}
a.button.nocolor:hover {
  background: #dadada;
  background: -moz-linear-gradient(top, #dadada 0%, white 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dadada), color-stop(100%, white));
  background: -webkit-linear-gradient(top, #dadada 0%, white 100%);
  background: -o-linear-gradient(top, #dadada 0%, white 100%);
  background: -ms-linear-gradient(top, #dadada 0%, white 100%);
  background: linear-gradient(top, #dadada 0%, #ffffff 100%);
  text-shadow: 0px 1px #FFF;
}
a.button.nocolor:active {
  background: #ffffff;
  background: -moz-linear-gradient(top, white 0%, #dadada 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dadada));
  background: -webkit-linear-gradient(top, white 0%, #dadada 100%);
  background: -o-linear-gradient(top, white 0%, #dadada 100%);
  background: -ms-linear-gradient(top, white 0%, #dadada 100%);
  background: linear-gradient(top, #ffffff 0%, #dadada 100%);
}
a.button.next {
  background: url(images/icons.png) no-repeat 2px -20px;
  box-shadow: 0 0;
  padding: 17px 10px;
}
a.button.next span {
  background: url(images/icons.png) no-repeat -210px -80px;
  padding: 15px 70px 16px 40px;
}
a.button.next:hover {
  background: url(images/icons.png) no-repeat 2px -140px;
}
a.button.next span:hover {
  background: url(images/icons.png) no-repeat -210px -200px;
}
a.button.next.active {
  background: url(images/icons.png) no-repeat 2px -260px;
}
a.button.next span.active {
  background: url(images/icons.png) no-repeat -210px -320px;
}

div.switch {
  display: none;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  margin-top: 20px;
  padding: 0px;
  position: relative;
  right: 30px;
  float: right;
  width: 240px;
  position: relative;
  background: #E5E5E5;
}
div.switch a {
  color: #999;
  display: block;
  font-size: 12px;
  font-weight: 600;
  float: left;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 120px;
  z-index: 100;
  position: relative;
  outline: none;
}
div.switch a.selected {
  color: #0099CC;
  z-index: 100;
  background: none;
}
div.switch .bkg {
  border-radius: 5px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  width: 120px;
  z-index: 0;
}

span.switch {

  display:none;  // TODO: show 

  background: url(images/icons.png) no-repeat 32px -523px;
  color: #7F7F7F;
  float: right;
  font-family: helvetica;
  margin-top: 10px;
  padding-left: 65px;
  margin-right: 30px;
  cursor: pointer;
}
span.switch.selected {
  background-position: 32px -553px;
}

/* Globals */
.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.nomargin {
  margin: 0px!important;
}

.progress-bar {
  position: relative;
  width: 204px;
  height: 3px;
  background: rgba(0, 0, 0, 0.2);
}
.progress-bar .bar {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
}
.progress-bar.completed .bar {
  background: #0099CC;
}
.progress-bar.completed span.progress {
  color: #0099CC;
}
.progress-bar span.progress {
  display: block;
  left: 215px;
  position: absolute;
  top: -9px;
}

.translucent-box .progress-bar {
  margin: 30px 0 32px 40px;
  background: #fff;
}
.translucent-box .commingSoon
  margin: 20px 0 25px 40px
  span
    font-size: 20px
.translucent-box .progress-bar .bar {
  background: #83C046;
}
.translucent-box .progress-bar.completed .bar {
  background: #0099CC;
}
.translucent-box .progress-bar.completed span.progress {
  color: #0099CC;
}

h1.notlogged
  background-color: white
  height: 103px
  padding-top: 86px
  text-align: center

.LoginController
  form
    text-align: center
    margin-top: 100px

.ProfileController 
  margin-bottom: 39px
  ul
    @extends #semantic-list
    
  .title.user
    margin-left: -6px
.BadgeController 
  margin-bottom: 39px


.NotificationController
  width: 300px
  height: 40px
  position:absolute
  right:0px
  top:0px 
  text-align:center
  z-index: 1000000
  li
    border: 1px solid black
    background-color: white
    width: 100%
    height: 100% 
    padding: 10px 0px
    opacity: 1
    transition: all 1s ease-in-out
    -moz-transition: all 1s ease-in-out /* Firefox 4 */
    -webkit-transition: all 1s ease-in-out /* Safari and Chrome */
    -o-transition: all 1s ease-in-out /* Opera */
    transiton: all 1s ease-in-out
    img,p
      display:inline-block
      vertical-align: middle 
    img 
      width: 40px
      height: 40px
