@font-face {
  font-family: "Titillium";
  font-weight: 500;
  font-style: normal;
  src: url("lib/TitilliumText/TitilliumText22L002-webfont.eot");
  src: url("lib/TitilliumText/TitilliumText22L002-webfont.eot?#iefix") format("embedded-opentype"), url("lib/TitilliumText/TitilliumText22L002-webfont.woff") format("woff"), url("../lib/TitilliumText/TitilliumText22L002-webfont.ttf") format("truetype"), url("lib/TitilliumText/TitilliumText22L002-webfont.svg#TitilliumText22LLight") format("svg"); 
}
