.zooniverse-bar {
  background: rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid rgba(211, 211, 211, 0.25);
  color: #d3d3d3;
  float: left;
  font: 12px Titillium, "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 100;
}

.zooniverse-bar a {
color: inherit;
text-decoration: none;
}

.zooniverse-bar a:hover {
color: white;
}

.zooniverse-bar > .zooniverse-menu {
margin: 0;
padding: 0;
}

.zooniverse-bar > .zooniverse-menu.leading {
float: left;
margin-left: 30px;
}
.zooniverse-bar > .zooniverse-menu.leading > .zooniverse-menu-item {
border-right: 1px solid rgba(211, 211, 211, 0.25);
}

.zooniverse-bar > .zooniverse-menu.leading > .zooniverse-menu-item > .zooniverse-dropdown-content {
left: -1px;
}

.zooniverse-bar > .zooniverse-menu.trailing {
float: right;
margin-right: 30px;
}

.zooniverse-bar > .zooniverse-menu.trailing > .zooniverse-menu-item {
border-left: 1px solid rgba(211, 211, 211, 0.25);
}

.zooniverse-bar > .zooniverse-menu.trailing > .zooniverse-menu-item > .zooniverse-dropdown-content {
right: -1px;
}

.zooniverse-bar > .zooniverse-menu > .zooniverse-menu-item {
border-top: 0;
cursor: default;
display: block;
float: left;
position: relative;
}

.zooniverse-bar > .zooniverse-menu > .zooniverse-menu-item > a, .zooniverse-bar > .zooniverse-menu > .zooniverse-menu-item > .zooniverse-dropdown-heading {
display: inline-block;
padding: 6px 20px 3px;
}

.zooniverse-bar > .zooniverse-menu > .zooniverse-menu-item > .zooniverse-dropdown-heading:after {
font-size: 8px;
margin-left: 2px;
opacity: 0.67;
vertical-align: 0;
}

.zooniverse-bar > .zooniverse-menu > .zooniverse-menu-item > .zooniverse-dropdown-content {
background: rgba(0, 0, 0, 0.75);
border: 1px solid rgba(211, 211, 211, 0.25);
border-top: 0;
position: absolute;
top: 100%;
}

.zooniverse-bar > .zooniverse-menu > .zooniverse-menu-item > .zooniverse-dropdown-content:after {
content: " ";
height: 100px;
left: 0;
position: absolute;
top: 100%;
width: 100%;
}

.zooniverse-bar > .zooniverse-menu > .zooniverse-menu-item > .zooniverse-dropdown-content.zooniverse-menu {
margin: 0;
padding: 0;
}

.zooniverse-bar > .zooniverse-menu > .zooniverse-menu-item > .zooniverse-dropdown-content.zooniverse-menu > .zooniverse-menu-item {
border-top: 1px solid rgba(211, 211, 211, 0.25);
display: block;
}
.zooniverse-bar > .zooniverse-menu > .zooniverse-menu-item > .zooniverse-dropdown-content.zooniverse-menu > .zooniverse-menu-item.zooniverse-link > a {
display: block;
padding: 6px 20px 3px;
white-space: nowrap;
}
.zooniverse-bar > .zooniverse-menu > .zooniverse-menu-item > .zooniverse-dropdown-content.zooniverse-menu > .zooniverse-menu-item.zooniverse-accordion > .zooniverse-accordion-heading {
display: block;
font-size: 24px;
padding: 9px 20px 3px;
text-align: center;
}
.zooniverse-bar > .zooniverse-menu > .zooniverse-menu-item > .zooniverse-dropdown-content.zooniverse-menu > .zooniverse-menu-item.zooniverse-accordion > .zooniverse-accordion-heading:hover {
color: white;
}

.zooniverse-bar > .zooniverse-menu > .zooniverse-menu-item > .zooniverse-dropdown-content.zooniverse-menu > .zooniverse-menu-item.zooniverse-accordion > .zooniverse-accordion-content {
overflow: hidden;
}

.zooniverse-bar > .zooniverse-menu > .zooniverse-menu-item > .zooniverse-dropdown-content.zooniverse-menu > .zooniverse-menu-item.zooniverse-accordion > .zooniverse-accordion-content.zooniverse-menu {
margin: 0;
padding: 0;
}

.zooniverse-bar > .zooniverse-menu > .zooniverse-menu-item > .zooniverse-dropdown-content.zooniverse-menu > .zooniverse-menu-item.zooniverse-accordion > .zooniverse-accordion-content.zooniverse-menu > .zooniverse-menu-item {
border-top: 1px solid rgba(211, 211, 211, 0.25);
display: block;
}

.zooniverse-bar > .zooniverse-menu > .zooniverse-menu-item > .zooniverse-dropdown-content.zooniverse-menu > .zooniverse-menu-item.zooniverse-accordion > .zooniverse-accordion-content.zooniverse-menu > .zooniverse-menu-item.zooniverse-link > a {
display: block;
padding: 6px 20px 3px;
white-space: nowrap;
}
.zooniverse-bar > .zooniverse-menu > .zooniverse-menu-item > .zooniverse-dropdown-content.zooniverse-menu > .zooniverse-menu-item.zooniverse-accordion > .zooniverse-accordion-content.zooniverse-menu > .zooniverse-menu-item.zooniverse-link > a:hover {
background: rgba(0, 0, 0, 0.75);
}

.zooniverse-bar > .zooniverse-menu > .zooniverse-menu-item:hover, .zooniverse-bar > .zooniverse-menu > .zooniverse-menu-item.open {
background: rgba(0, 0, 0, 0.75);
}
.zooniverse-bar form.zooniverse-sign-in {
border-top: 1px solid rgba(211, 211, 211, 0.25);
padding: 15px 0;
}
.zooniverse-bar form.zooniverse-sign-in > div {
padding: 3px 15px;
}
.zooniverse-bar form.zooniverse-sign-in > div > label {
display: inline-block;
position: relative;
white-space: nowrap;
}
.zooniverse-bar form.zooniverse-sign-in > div > label > input {
-moz-box-sizing: border-box;
box-sizing: args;
background: rgba(211, 211, 211, 0.2);
border: 1px solid rgba(211, 211, 211, 0.2);
box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.75) inset;
color: inherit;
font-family: inherit;
letter-spacing: inherit;
margin: 0;
padding: 6px 5px 3px;
width: 210px;
}

.zooniverse-bar form.zooniverse-sign-in > div > label > input + .placeholder {
opacity: 0.75;
position: absolute;
left: 0;
margin: 7px 5px 0;
top: 0;
}

.zooniverse-bar form.zooniverse-sign-in > div > label > input:focus + .placeholder, .zooniverse-bar form.zooniverse-sign-in > div > label > input.full + .placeholder {
display: none;
}

.zooniverse-bar form.zooniverse-sign-in > div.zooniverse-action {
text-align: right;
}

.zooniverse-bar form.zooniverse-sign-in > div.zooniverse-action > a {
letter-spacing: normal;
opacity: 0.8;
text-transform: none;
}

.zooniverse-bar form.zooniverse-sign-in > div.zooniverse-action > button {
background-color: transparent;
background-image: -moz-linear-gradient(top, rgba(211, 211, 211, 0.25), transparent);
background-image: -webkit-linear-gradient(top, rgba(211, 211, 211, 0.25), transparent);
background-image: linear-gradient(top, rgba(211, 211, 211, 0.25), transparent);
border: 1px solid rgba(211, 211, 211, 0.25);
color: inherit;
cursor: pointer;
font-family: inherit;
font-size: inherit;
letter-spacing: inherit;
margin-left: 10px;
padding: 6px 15px 3px;
text-transform: inherit;
}
