#modal
  background: rgba(#000, 0.55)
  display: none
  height: 100%
  left: 0
  overflow: hidden
  position: fixed
  top: 0
  width: 100%
  z-index: 100000

  .modal-content
    height: 100%
    left: 50%
    position: relative
    top: 50%
    width: 100%

    img
      box-shadow: 0 0 10px 1px rgba(#000, 0.7)
      display: none
      max-height: 70%
      max-width: 70%
      position: relative