.birds-interface
  @extends #interface
  position: absolute

  .menu
    background: #000 url(images/transcribers/bg-header.png) repeat-x
    border-bottom: 1px solid rgba(#fff, 0.03)
    box-shadow: 0 0 5px 5px rgba(#000, 0.6)
    box-sizing: border-box
    color: #fff
    height: 80px
    font-size: 14px
    padding: 20px 24px 0
    position: fixed
    top: 0
    width: 100%
    z-index: 1001

    h1, h2, p
      font-family: "Open Sans",sans-serif
      margin: 0

    h1
      font-size: 17px
      font-weight: 800
      margin: 0 0 3px 0
      text-transform: uppercase

    p
      color: #999
      font-size: 13px
      line-height: 16px

    .block
      box-sizing: border-box
      float: right
      height: 100%
      padding: 0 10px

      $power-width = 26px
      $ring-width = 3px

      .ring
        border-radius: 50%
        cursor: pointer
        height: $power-width
        margin-top: ($power-width / 6)
        position: relative
        transition: all 0.3 linear
        width: $power-width

        &:before,
        &:after
          border-radius: 50%
          content: ""
          display: block
          position: absolute

        &:before
          background: #000 url(images/transcribers/bg-header.png) repeat-x center
          box-shadow: inset 0 2px 2px 4px rgba(#000, 0.4)
          height: ($power-width - ($ring-width * 2))
          left: $ring-width
          top: $ring-width
          width: ($power-width - ($ring-width * 2))
          z-index: 3

        &:after
          background: linear-gradient(#fcfcfc, #dcdcdc)
          box-shadow: 0 2px 2px 4px rgba(#000, 0.4)
          height: 100%
          left: 0
          top: 0
          width: 100%
          z-index: 2

        &:hover
          &:after
            background: linear-gradient(#fc8c0c, #dc6700)

          span
            &:before
              background: linear-gradient(#fc8c0c, #dc6700)


        span
          background: #000 url(images/transcribers/bg-header.png) repeat-x center
          display: block
          height: ($power-width / 2)
          left: 50%
          position: absolute
          top: -($ring-width)
          width: (($power-width / 2) - $ring-width)
          z-index: 4
          margin: 0 0 0 (-(@width / 2))

          &:before
            background: linear-gradient(#fcfcfc, #dcdcdc)
            border-radius: 10px
            box-shadow: 0 3px 5px rgba(0,0,0,0.3)
            content: ""
            height: ($power-width / 2)
            left: 50%
            margin: 0 0 0 -2px
            position: absolute
            width: $ring-width

  .data-entry
    background: rgba(#333, 0.6)
    bottom: 0
    box-sizing: border-box
    color: #d3d3d3
    height: 200px
    padding: 25px
    position: fixed
    width: 100%
    z-index: 1000

    .actions
      border-left: 1px solid #999
      box-sizing: border-box
      float: right
      padding: 15px
      width: 200px

      ul
        @extends #semantic-list

        li
          cursor: pointer
          text-decoration: underline
          &:hover
            color: #fff
            text-decoration: none


  .boxes
    position: relative

    img
      @extends #no-select

  .box
    background: rgba(#f00, 0.15)
    border: 1px solid transparent
    position: absolute !important

    &.resizable
      background: rgba(#f00, 0.30)
      border-color: #fff

    &.red
      background: rgba(#f00, 0.25)
    &.green
      background: rgba(#0f0, 0.25)
    &.blue
      background: rgba(#00f, 0.25)