.birds-interface
  @extends #interface
  position: absolute

  .boxes
    position: relative

  .box
    background: #006
    border: #003
    opacity: 0.25
    position: absolute !important

    &.red
      background: #f00
    &.green
      background: #0f0
    &.blue
      background: #00f