$white: #fefefa;
$black: #151522;
$gray:  #646467;
$orange: #ff7c09;
$green: #693;
$transparent: rgba(0, 0, 0, 0.6);
$gossamer: rgba(0, 0, 0, 0.2);
$footer-height: 140px;
$image-selector-margin: 10px;
$radius: 4px;
$button-radius: 8px;

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    background: url('/images/transcribers/bg-transcriber.png');
    overflow: hidden;
    .has-footer: {
        margin-bottom: $footer-height - $image-selector-margin;
    }
}

nav.nfn {
    $font-wt: 800;

    z-index: 1;
    background: $black url('/images/transcribers/bg-header.png');
    border: 1px solid $gray;

    p {
        vertical-align: middle;
    }

    .nfn-nav-title {
        font: {
            size: 17px;
            weight: $font-wt;
        }
        color: $white;
    }

    .nfn-nav-subtitle {
        font-size: 13px;
        margin-top: 4px;
        color: #aaa;
    }

    .nfn-nav-count-text {
        font: {
            size: 12px;
            weight: $font-wt;
        }
        margin-top: 20px;
        color: $white;
    }

    .nfn-nav-count {
        font: {
            size: 38px;
            weight: $font-wt;
        }
        margin-top: 10px;
        color: $white;
    }

    .nfn-nav-off-icon {
        margin-top: 20px;
        margin-left: 20px;
        font-size: 38px;
        color: $orange;
        background-color: transparent;
        border: none;
        text-decoration: none;
    }
}

.image-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;
    padding-top: 85px;
    position: relative;
    width: 100%;
    &.hide {
        visibility: hidden;
    }
    img {
        z-index: 0;
    }
    .zoom-control {
        background-color: $black;
        border-radius: $button-radius;
        border: 1px solid $gray;
        color: $white;
        padding: 12px;
        position: fixed;
        text-align: center;
        vertical-align: middle;
        z-index: 1;
        &.zoom-in {
            top: 100px;
        }
        &.zoom-out {
            top: 150px;
        }
    }
}

footer {
    border: 1px solid $gray;
    padding-left: 50px;
    bottom: 0;
    height: $footer-height;
    position: absolute;
    width: 100%;
    z-index: 1;

    background: rgba(2, 2, 2, 1.0);

    img {
        margin-top: $image-selector-margin;
        margin-left: 2 * $image-selector-margin;
        border: 1px solid $white;
        &.selected {
            border: 1px solid $orange;
        }
    }

    &.hide {
        visibility: hidden;
        height: 0;
    }
}

.nfn-form {
	position: absolute;
	left: 0;
	top: 0;
    background: $transparent;
    border-radius: $radius;
    border: 1px solid $gray;
    cursor: move;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    height: auto;
    padding: 4px;
    z-index: 10;

    .form-help {
        color: $white;
        cursor: move;
        padding: 4px;
        a {
            color: $white;
            border-bottom: 1px solid $white;
        }
        .field {
            transition: all 0.75s ease;
            height: 22px;
            .hide {
                visibility: hidden;
            }
            .expand {
                background: $white;
                border-radius: $button-radius;
                border: 0;
                color: $black;
                float: right;
                padding: 0 6px;
            }
            .help-header {
                height: 22px;
                margin-bottom: 4px;
            }
            &.expanded {
                height: 170px;
            }
        }
    }
    label {
        cursor: move;
        color: $white;
        width: 100%;
        margin: 5px 0 0 6px;
    }
    input {
        border-radius: $radius;
        padding: 2px 4px;
        width: 100%;
    }
    input[type=submit] {
        background-color: $orange;
        color: $white;
        border-radius: $radius;
        border: 1px solid $black;
    }
    select {
        border-radius: $radius;
        width: 33.33%;
        padding: 2px 4px;
        color: $black;
    }
    .floating {
        position: absolute;
        top: -35px;
        border: 1px solid $gray;
        border-radius: $button-radius;
        padding: 4px 8px 4px 8px;
        background: $transparent;
        font-size: 14px;

        &.discuss {
            left: 0;
        }
        &.skipper {
            right: 0;
        }
        a {
            cursor: pointer;
            color: $white;
        }
    }
    .ui-dialog-titlebar {
        visibility: hidden;
        height: 0;
    }
}

#splash {
    .modal-content {
        background-color: $gossamer;
        color: $white;
    }
    .modal-footer {
        border: none;
        button {
            width: 100%;
            background: $green;
            color: $white;
            border: 1px solid $green;
        }
    }
}
